/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */
// HEADER //
#banner {

  background: rgba(108, 226, 235, 0.92);
  margin: auto;
  min-height: 50px;
}


#logo_img {
  max-width: 200px;
  max-height: 100px;
  padding: 0px 0px 0px 20px;
}

#polosa {
    min-height: 10px;

  }

// HEADER //

//slider/////////////////////////




#slider {
height: 230px;
  width: 100%;
  border: solid 1px;
}


//slider ////////////////////////



#main_content {
  width: 950px;
  margin-left: 13%;
  margin-top: 100px;
  border: solid 1px;
  min-height: 100%;
}

  #yield_content {
    border: solid 1px;
    margin-left: 220px;
    min-height: 1200px;

  }


  #side {

    float: left;
    height: 900px;
    width: 16em;
    background: #6b727b;
    box-shadow: 0 0 10px rgba(21, 40, 46, 0.89);


    #cart {
      font-size: smaller;
      color: white;
      table {
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }
  }



/*.depot_form {
  fieldset {
    background: #efe;
    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}*/

/// work panel//
#work_panel {
  background: #e2be00;
}

footer {
  float: right;
  border: solid 1px;
  width: 100%;
}

