/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 /*= require foundation_and_overrides */

 */


.atent {
  color: red;

}

.wraper{
  width: 1000px;
  margin: auto;
}

.h4_title{
  font-family: "Lobster", Arial;
  color: #7f0d65;
}
// HEADER //
#banner {
  margin-top: 10px;
  height: 120px;

    #header_in{
      width: 1000px;
      margin: auto;

      #main_slogan{
        float: left;
        width: 500px;
        margin-left: 20px;
        margin-top: 20px;
      p{
        line-height: 40px;
        font-size: 22px;
        font-family: Ubuntu-L;
      }
      }

      #header_contacts{
        width: 260px;
        float: right;

        #social_s{
          img{
            float: left;
            width: 45px;
            margin-left: 12px;
          }
        }

        #phone_header_block{
          img{
            width: 45px;
            margin-top: 5px;
            float: left;
          }

          h2{
            float: left;
            font-family: sladkoeshka;
          }
        }
      }
    }




  #logo_image {
    width: 180px;
    padding: 0;
    float: left;

   // position: absolute;
  }

}


// HEADER //

//main menu //

#lenta_menu {


  .main_menu {
    margin: auto;
    border-top:  solid 3px rgba(127, 13, 101, 0.64);
    border-radius: 5px;
    height: 43px;
    //float: left;
    width: 1000px;

    //shadow ------------
    //position:relative;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    //shadow ------------

    #home_button {
      font-size: 18px;
      float: left;
      margin: 0;
      padding-top: 5px;
      padding-left: 0px;
      border: none !important;
    }

    #ddmenu {
      color: #5b0466;
      margin-top: 3px;
      font-size: 14px;
      margin-bottom: 0px !important;
      margin-left: 10px;
      margin-right: 20px;
      list-style-type: none;
      .limenu {

        a:hover {
          text-decoration: underline;


        }
        height: 30px;
        float: right;
        border-left: dashed 1px;
        margin-left: 20px;
        padding-top: 5px;
        padding-left: 20px;
      }

    }

    }

  #ddmenu ul{
    position: absolute;
    top: 158px;
    min-width: 150px;
    background: #fff;
    display: none;
    margin: 0;
    padding: 7px 0;
    list-style: none;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  }



  #ddmenu ul:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 8px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #fff transparent;
  }
  #ddmenu ul:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 4px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;
}

  #ddmenu ul li {
  display: block;
  width: 100%;
  font-size: 0.9em;
  text-shadow: 1px 1px 0 #fff;

}



  #ddmenu ul li a {
   display: block;
   width: 100%;
   padding: 6px 7px;
   line-height: 1.4em;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   transition: all 0.2s linear;

}
  #ddmenu ul li a:hover {
  background: #e9edf3;


}

  }


  .main_menu:after {
    content:"";
    position:absolute;
    z-index:-2;
  }

  .main_menu:before {
    top:50%;
    bottom:0px;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }


//main menu //





#main_content {
  width: 1000px;
  //margin-left: 120px;
  min-height: 100%;
}

  #yield_content {
    min-height: 1200px;
    margin: auto;
    width: 1000px;




  }






/*.depot_form {
  fieldset {
    background: #efe;
    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}*/

/// work panel//
#work_panel {
  background: rgba(226, 190, 0, 0.62);
  font-size: smaller;

}

//============footer ==========//


.footer_round_blocks{
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  //padding: 0px 0px 50px;
  margin-left: 40px;

  .round_block {
    background-size: 300px;
    background-repeat: no-repeat;
    width: 300px;
    margin-top: 15px;
    height: 425px;
    float: left;
    background-image: url("teal-circle-home-page-noshadow.png");
    //background: transparent url("teal-circle-home-page-noshadow.png") ;
    //position: relative;

    .round_block_first_header{
      width: 158px;
      height: 85px;
      background-size: 80px;
      margin-left: 75px;
      background-image: url("dort_black2.jpg");
      background-repeat: no-repeat;
      margin-top: 0px;
      margin-bottom: 0;
    }

    .round_block_second_header{
      background-image: url("shabon_middle.jpg");
      width: 158px;
      height: 48px;
      background-size: 120px;
      background-repeat: no-repeat;
      margin-left: 55px;
      margin-bottom: 0;

    }



    .round_block_last_header{
      background-image: url("icone_face.png");
      width: 158px;
      height: 74px;
      margin-bottom: 0;
      background-size: 65px;
      background-repeat: no-repeat;
      margin-left: 84px;

    }

    .h3_about_block{
      font-size: 26px;
      font-family: Georgia, serif;
      text-shadow: 2px 2px 2px white;

    }

    .h3_face_block{
      margin-top: 0;
      font-size: 20px;
      font-family: Georgia, serif;
      text-shadow: 2px 2px 2px white;
    }

    .h3_price_block{
      margin-top: 0;
      font-size: 24px;
      font-family: Georgia, serif;
      text-shadow: 2px 2px 2px white;
    }

    article{
      width: 230px;
      height: 320px;
      margin: 0px auto;
      padding: 15px 0px 0px;
      position: relative;
    }

    .round_block_button{
      text-align: center;
      background: transparent url("circle-description-default.png");
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 131px;
      height: 41px;
    }

    .circle_shadow {
      position: relative;
      margin-top: 15px;
      width: 327px;
      height: 45px;
    }
  }


  .round_block:hover{
    background-image: url("teal-circle-home-page-middle-active-noshadow.png");
    background-repeat: no-repeat;
    background-size: 300px;
    margin-top: 0;
    width: 300px;
    float: left;
    height: 333px;

    .round_block_button{
      text-align: center;
      background: transparent url("circle-description-hover.png");
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 131px;
      height: 41px;
    }

    .circle_shadow{
      margin-top: 30px ;
      opacity: 0.5;
    }

    .round_block_first_header{
      width: 100px;
      height: 85px;
      margin-left: 70px;
      background-size: 90px;
      background-image: url("dort_hover.jpg");
      background-repeat: no-repeat;
      margin-top: 0px;
      margin-bottom: 0;
    }

    .round_block_second_header{
      background-image: url("shabon_middle_hover.jpg");
      width: 158px;
      height: 48px;
      background-size: 120px;
      background-repeat: no-repeat;
      margin-left: 55px;
      margin-bottom: 0;
    }

    .round_block_last_header{
      background-image: url("icone_face%20copy.png");
      width: 158px;
      height: 74px;
      margin-bottom: 0;
      background-size: 75px;
      background-repeat: no-repeat;
      margin-left: 78px;
    }

  }
}
//#bacbcc
//============footer ==========//
