/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#banner {
  border-radius: 10px;
    background: rgba(125, 216, 255, 0.58);
    min-height: 200px;
    width: 900px;
    margin: auto;
    position: relative;

  #header_menu {
    position: absolute;
    right: 1%;
    left: 1%;
    bottom: 1px;

  }
  }

    .knopki{
      opacity: 0.5;
      text-decoration: none;
      color: white;
      display: inline;
      font-size: 14px;
      padding:20px 0px 0px 60px ;
      width: 180px;
      line-height: 50px;
      border-right-style: solid ;
      border-right-color: #222266;


    }






#notice {
  color: rgba(247, 86, 47, 0.15) !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  margin: 20px 80px 0px 80px;


  #main {
    margin-left: 17em;
    padding: 1em;
    background: #ffffff;

  }
  #side {
    border-radius: 15px 15px 0px 0px;
    position: fixed;
    float: left;
    padding: 1em 1em;
    height: 100%;
    width: 11em;
    background: #7dd8ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    .kategory{
      border: dotted 1px;
      height: 20px;
      width: 100%;


    }
    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }
    #cart {
      font-size: smaller;
      color: white;
      table {
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }
    ul {
      padding: 0;
      li {
        list-style: none;

        a {
          color: #f7562f;
          font-size: small;
        }
      }
    }
  }
}
.depot_form {
  fieldset {
    background: #efe;
    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}