// Place all the styles related to the CakeCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cake_category_menu_style {
  border: solid 1px #ffffff;
  border-radius: 3px;
  margin-top: 10px;
  width: 220px;
  margin-left: 10px;

  position:relative;
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  ul {

    border-bottom: 1px dashed;
    padding: 8px 8px 10px 0px;
    //line-height: 10px;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    list-style: none;

    img{
      padding-right: 3px;
    }

  }
  li {
    //text-decoration-line: underline;
  }
  li:hover {
    text-decoration: underline;
  }

  .lenta_font {
    width: 160px;
    border-bottom: solid 2px ;
    font-family: "Lobster", Arial;
    //font-style: italic;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 0;
    padding-bottom: 3px;
    color: #7f0d65;


  }


}

.cake_category_menu_style:before,
.cake_category_menu_style:after {
  content:"";
  position:absolute;
  z-index:-2;
}

#cake_category_index {
  width: 600px;
  background-color: #ffffff;
  margin-left: 300px;

}

.cake_index_style {
  border: solid 1px;
  width: 200px;
}