// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  //float: right;
  //width: 760px;
  table{
    border-collapse: collapse;
  }
  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width: 100px;
    height: 90px;
  }

  .list_description {
    width: 60%;
    dl {
      margin: 0;
    }
    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }
    dd {
      margin: 0;
    } }
  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }
  .list_line_even {
    background: #e0f8f8;
  }
  .list_line_odd {
    background: rgba(129, 91, 129, 0.18);
  }
}

//product id content //
.product_id_content {
  padding: 7px;

  float: left;
  //width: 760px;
  margin-top: 8px;

  //shadow box //
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;



.product_image {
    width: 350px;
    border: solid 2px #7f0d65;
    border-radius: 3px;
    float: left;
  }
  .cake_description {
    margin-top: 10px;
    float: left;
    width: 380px;
    margin-left: 10px;

  }
}

.product_id_content:before,
.product_id_content:after {
  content:"";
  position:absolute;
  z-index:-2;
}



  .product_id_title {
    width: 380px;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 10px;
    float: left;
    font-family: "Lobster", Arial;
    color: #7f0d65;
  }


  .form_for {
    width: 760px;
    float: right;
    padding-left: 10px;
    padding-right: 80px;
  }


.products_line_footer{
  padding-left: 15px;
  margin-top: 100px;
  clear: both;


  h4{
    font-family: "Lobster";
    color: #7f0d65;
  }


  img{
    width: 165px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .product_block_show{
    margin-left: 5px;
    margin-top: 10px;
    width: 175px;
    height: 220px;
    float: left;

    h6{
      color: #7f0d65;
      font-family: "rubXZTeC" ;
      margin-left: 5px;

    }

    //shadow box//
    position:relative;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
}
.product_block_show:before,
.product_block_show:after {
  content:"";
  position:absolute;
  z-index:-2;
}

.product_block_show:hover{
  border: solid 0.5px rgba(127, 13, 101, 0.65);
  border-radius: 3px;
}


