// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@font-face {
  font-family: "Lobster";
   src: url('Lobster.ttf');
}


#phone_contact {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  p {
    font-size: 16px;
    margin-bottom: 3px;
  }
  img{
    width: 24px;
  }
}

//slider//



#slider {
  height: 184px;
  width: 877px;
  overflow: hidden;
  margin-left: 120px;
  float: left;
  margin-top: 4px;

}
#slider .slides{
  ul {
    list-style-type: none;
  }

  display: block;
  width: 6000px;
  height: 200px;
  margin: 0;
  //padding: 0;

}

#slider .slide {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  float: left;
  list-style-type: none;
  width: 400px;
  height: 180px;

}
.slide_2 {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  float: left;
  width: 475px;
  height: 200px;
  padding: 10px;
  padding-left: 120px;

}


// slider //

// left main menu block//


#side {
  display: block;
  //border: solid 1px red;
  //background: url("lenta_left_menu.png") ;
  background-size: 250px ;
  background-repeat: no-repeat;
  float: left;
  min-height: 500px;
  width: 240px;



  #face_book {
    margin-left: 30px;
    margin-top: 50px;
  }





  #cart {
    font-size: smaller;
    color: white;
    table {
      border-top: 1px dotted #595;
      border-bottom: 1px dotted #595;
      margin-bottom: 10px;
    }
  }
}
// left main menu block//


// main  store_content//

#store_content {
  float: right;
  width: 755px;

  h4 {
    font-family: "Lobster", Arial;
    color: #7f0d65;

  }

  .product_container {

    //shadow//
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;
    //shadow//


    background-color: #ffffff;
    margin-top: 18px;
    border: solid 0.5px rgb(255, 255, 255);
    border-radius: 2px;
    float: left;
    margin-left: 8px;
    width: 240px;
    padding-left: 4px;
    height: 400px;



    .short_bod {
      margin-top: 5px;
      background-image: url("sep.png");
      background-repeat: no-repeat;
      margin-left: 70px;
      //width: 300px;
      height: 8px;

    }

    h3 {
      font-size: large;
    }

    .product_image_content {
      width: 230px;
      margin-top: 5px;
    }

    .price_container{
      font-size: 20px;
      font-family: "Lobster", Arial;


    }
  }

  .product_container:before,
  .product_container:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
  }
  .product_container:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
  }



}
// main  store_content//


  // Нумерация страниц
  .pagination {
    float: left;
    height: 22px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 500px;
    a, span, em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 2px;
      border-radius: 4px;
    }
    .disabled {
      display: none;
    }
    .current {
      font-style: normal;
      font-weight: bold;
      background: #666; //#2e6ab1;
      color: white;
      //border: 1px solid #2e6ab1;
    }
    a {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5;
      &:hover, &:focus {
        color: #000033;
        border-color: #000033;
      }
    }
    .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center;
      b {
        color: #000033;
        background: #2e6ab1 + 60;
        padding: 0.1em 0.25em;
      }
    }
  }
