// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store{
  h1{
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
  }


  /* Запись в каталоге store */
  .entry {
    //overflow: auto;
    margin: 5px 10px 50px 0px  ;
    max-height: 400px;
    max-width: 230px;
    float: left;


    .leftimg {
      float: left;
     // margin: 7px 7px 7px 0;
    }
    .leftimg:hover {

      box-shadow: 0px 0px 5px 0px   ;
    }
    .descript {
      position: relative;
      float: left;
    }

    .price_container{
      position: relative;
      float: left;
    }


    h3{
      float: left;
      font-size: 120%;
      font-family: sans-serif;
    }
    img
    {
      width: 225px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: relative ;
    }



  }
  //.entry:hover {
   // background-opaciry: rgba(193, 252, 255, 0.54);



}
// Нумерация страниц
.pagination {

  cursor: default;
  height: 22px;
  float: left;
  padding: 10px 100px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 2px;
    border-radius: 4px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #666; //#2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}