<div class="cake_category_menu_style">
  <h4 class="lenta_font"><%=link_to "Торты:", store_path%></h4>
<% @cake_categories.each do |cake_category| %>
     <ul >
       <li> <%= link_to cake_category.title, cake_category_path(cake_category.id) %></li>
     </ul>
<% end %>
</div>