<p id="notice"><%= notice %></p>

<h1>Listing Cake Categories</h1>
<div id="cake_category_index">
    <%=render 'cake_categories'%>
</div>

<br>

<h4 class="add_category"><%= link_to 'Добавить категорию', new_cake_category_path %></h4>
