<div id="logo_image">
  <%=link_to image_tag("shaboo_round_clipped_rev_1.png"), store_path%>
</div>

  <%= render "slides/slider"%>

<div id="phone_contact">
   <p><img> <%= image_tag "contact-icons-buttons-set-envelope-mobile-phone-mail_178327619.png"%></img> <a href="#"> 937 99 92</a></p>
  <p><img> <%= image_tag "contact-icons-buttons-set-envelope_mail_178327619.jpg"%></img> <a href="#">example@mail.com</a></p>
</div>
