
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>




<div id="store_content">

<h4 >Все торты:</h4>

<% cache ['store_content', Product.latest] do %>
   <% @products.each do |product| %>
        <%cache ['product_container', product] do %>

         <div class="product_container">



               <div class="product_image_content"> <%= image_tag product.product_image.to_s  %></div>




           <div class="short_bod"></div>
           <h5 class="product_title_style"><%=link_to product.title , product_path(product.id)  %></h5>
          </div>

        <% end %>
    <% end %>
<% end %>
</div>

   <%= will_paginate @products,previous_label: h("<"), next_label: h(">") %>


