<% if session[:user_id] %>
    <div class="admin_controller">
      <ul>
        <li><%=link_to "Добавить продукт", products_path%></li>
        <li><%=link_to "Пользватели", users_path%></li>
        <li><%=link_to "Категории", categories_path%></li>
        <li><%= button_to 'Logout', logout_path, method: :delete %></li>
      </ul>
    </div>
<%end %>