<div id="footer">
 <%= image_tag "shaboo.jpg", class: "shaboo_img_footer"%>




  <div id="line_footer">
    <p id="copyright"> © 2015 Shaboo</p>
    <h5 id="phone_footer">(+373) 937 99 92</h5>
  </div>

</div>