





    <div class="index_header">

    <ul class="bxslider">
      <li><%= image_tag("cake-recipes.jpg")%></li>
      <li><%= image_tag("cakes.jpg")%></li>
      <li><img src="http://themessybaker.com/wp-content/uploads/2015/02/Messy-Baker-R-Header-Flaky-BAKE.png"  /></li>

    </ul>


</div>
















