<div id="lenta_menu">



  <div class="main_menu">
    <div id="length_menu">
    <div id="logo_image">
      <%=link_to image_tag("shaboo_logo_round.jpg"), store_path%>
    </div>


    <ul id="ddmenu">
      <li class="limenu"><%= link_to "Контакты", store_index_path(anchor:"footer")%></li>




      <% @categories.each do |category|%>
          <li class="limenu">
            <%= link_to category.title, category%>
            <ul>
              <% category.cake_categories.each do |sub_category|%>
                  <li><%= link_to sub_category.title, category_path(sub_category.category, anchor: sub_category.id) %></li>

              <%end%>
            </ul>
          </li>
      <%end%>

    </ul>
  </div>
  </div>

</div>