<div class="footer_round_blocks">
  <div class="round_block">
    <article>
      <figure class="round_block_first_header"></figure>
      <h3 class="h3_price_block">ТОРТЫ ОД 159 ЛЕЙ</h3>
      <p>Тут будет какой-то текст</p>

      <figure class="round_block_button">
        <figcaption></figcaption>
      </figure>
    </article>
    <%= image_tag "teal-circle-home-page-shadow.png", class:"circle_shadow"%>
  </div>



  <!-- contacts--------->

  <div class="round_block">
    <article>
      <figure class="round_block_second_header"></figure>
      <h3 class="h3_about_block">НЕМНОГО О НАС</h3>
      <figure class="round_block_button">
        <figcaption></figcaption>
      </figure>
    </article>
    <%= image_tag "teal-circle-home-page-shadow.png", class:"circle_shadow"%>
  </div>





  <div class="round_block">
    <article>
      <figure class="round_block_last_header"></figure>
      <h3 class="h3_face_block">ГДЕ ЕЩЕ НАС ИСКАТЬ</h3>

      <figure class="round_block_button">
        <figcaption></figcaption>
      </figure>
    </article>
    <%= image_tag "teal-circle-home-page-shadow.png", class:"circle_shadow"%>
  </div>

</div>